# test_your_basic_python_skills solutions

In [1]:
# Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [2]:
length = int(input("Enter lenght:"))
breadth = int(input("Enter breadth:"))

if (length == breadth):
    print("It is square.")
else:
    print("It is not square.")

Enter lenght:7
Enter breadth:7
It is square.

In [3]:
# Take three integer values from the user and print the greatest among them.

In [4]:
# take three numbers from user
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is:", largest)

Enter first number: 47
Enter second number: 61
Enter third number: 56
The largest number is: 61

In [5]:
# A student will not be allowed to sit in an exam if his/her attendance is less than 75%.
## assuming, classes held = 100; or we would take input (number of classes held & attendance) and perform calculations.

In [6]:
attendance_threashold = 75
classes_held = 100 # change this number as needed
# classes_held = int(input("Enter number of classes held: ")) #taking number of classes held as input
classes_attended = int(input("Enter number of classes attended: "))    #taking number of classes attended as input

# validate classes held vs attended
if classes_attended > classes_held:
   raise ValueError("Sorry, no classes attended must not more that classes held!")

#calculating percentage of classes attended
attended = round((classes_attended/classes_held) * 100,2)

#printing the percentage of classes attended
print("Student attandance is:",attended)

#checking whether attandance is greater than 75 and printing the same
if attended>attendance_threashold:
   print("Allowed to sit in Exam.")
else:
   print("Not allowed to sit in Exam.")

Enter number of classes attended: 96
Student attandance is: 96.0
Allowed to sit in Exam.

In [7]:
# A school has the following rules for the grading system:
# Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
# Now, Ask the user to enter marks and print the corresponding grade.

In [8]:
marks=int(input("Enter student's marks:"))

# validate classes held vs attended
if marks < 0:
   raise ValueError("Sorry, marks must not be negetive!")

if(marks<25):                   #<25
    print("Student grade: 'F'")
elif(marks>=25 and marks<45):   #<45
    print("Student grade: 'E'")
elif(marks>=45 and marks<50):   #<50
    print("Student grade: 'D'")
elif(marks>=50 and marks<60):   #<60
    print("Student grade: 'C'")
elif(marks>=60 and marks<80):   #<80
    print("Student grade: 'B'")
elif(marks>=80 and marks<91):   #<91
    print("Student grade: 'A'")
elif(marks>90):                 #>=91
    print("Student grade: 'A+'")

Enter student's marks:79
Student grade: 'B'

In [9]:
# Print the following pattern using for and while loop.
'''
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
'''

'\n1 2 3 4 5 6 7\n1 2 3 4 5 6\n1 2 3 4 5\n1 2 3 4\n'

In [10]:
rows = 4 # number of rows
cols = 7 # number of cols 

for i in range(cols, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    if(i==rows): break
    print("\r")

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [11]:
# Display numbers from -100 to -10 using for loop.

In [12]:
start, end = -100, -10
#Solution:1
print("Solution: #1")
res = ([i for i in range(start,end+1) if start<0])
print(*res)

#Solution:2
print("\nSolution: #2")
for num in range(start, end + 1):
    if num < 0:
        print(num, end = " ")

Solution: #1
-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

Solution: #2
-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [13]:
# Write a program to sum all prime numbers within a range of 10 to 1000.

In [14]:
lower = 10    #int(input("Enter lower Limit:"))
upper = 1000  #int(input("Enter Upper Limit:"))

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num, end = ' ')

Prime numbers between 10 and 1000 are:
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [15]:
# Find the factorial of an n!

In [16]:
def factorial(x):
    if x == 0 or x == 1:
        return 1
    else:
        return (x * factorial(x-1))
    
def factorial2(x):
    res=1
    if x < 0:
       print("Sorry, factorial does not exist for negative numbers")
    elif x == 0:
       print("The factorial of 0 is 1")
    else:
       for i in range(1,x + 1):
           res = res*i
       print("The factorial of",x,"is",res)


#Solution:1 (recursion)
#num = 3
num = int(input("Enter a number to find factorial: "))
# call the factorial function
result = factorial(num)
print("The factorial of ", num, "is:", result)

#Solution:2 (loop)
factorial2(num)

Enter a number to find factorial: 7
The factorial of  7 is: 5040
The factorial of 7 is 5040

In [17]:
# Reverse a given integer number 27956240710.

In [18]:
num = 27956240710
#num = int(input("Enter a number to find reverse: "))
print(str(num)[::-1])

01704265972

In [19]:
# Print the following pattern using for and while loop.

In [20]:
n = 4 # Please DO NOT change it... Just not sure about the serise/pattern '3,4,3,2'... what's the next numbers???

# FOR LOOP
print('USING FOR LOOP')
print('-'*20)
# upper half
i = 3
for i in range(i,n+1):
    for j in range(i):
        print("#", end = " ")
        j += 1
    print()
    i += 1

# lower half
i = 3
for i in range(i-1):
    for j in range(i+1,n):
        print("#", end = " ")
        j -= 1
    print()
    i += 1


# #################################    
# WHILE LOOP
print('\nUSING WHILE LOOP')
print('-'*20)
# upper half
i = 3
while i <= n :
    j = 1
    while j <= i:
        print("#", end = " ")
        j += 1
    print()
    i += 1

# lower half
i = 3
while i <= n :
    j = n
    while j+1 >= i:
        print("#", end = " ")
        j -= 1
    print()
    i += 1

USING FOR LOOP
--------------------
# # #
# # # #
# # #
# #

USING WHILE LOOP
--------------------
# # #
# # # #
# # #
# #

In [21]:
# Display the Fibonacci series of 15 elements using the for and while loop.

In [22]:
num = 15
#num = int(input("\nPlease Enter the Number: "))

#'''

#Solution:1

# initializing first and second values
i = 0
first_value = 0
second_value = 1
           
print("Fibonacci series:")
while(i < num):
    if(i <= 1):
        next = i
    else:
        next = first_value + second_value
        first_value = second_value
        second_value = next
    print(next, end = ' ')
    i = i + 1

#'''    

def Fibonacci(n):
    # check if input is 0 then it will print incorrect input
    if n < 0:
        print("Incorrect input!")
    # check if n is 0 then it will return 0
    elif n == 0:
        return 0
    # check if n is 1,2  it will return 1
    elif n == 1 or n == 2:
        return 1
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
 
print("\n\nFibonacci series:", end = ' ')
#for n in range(0, 9): 
#    print(Fibonacci(n), end = ' ')

#Solution:2
i = 0
while(i < num):
    print(Fibonacci(i), end = ' ')
    i = i +1

Fibonacci series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

Fibonacci series: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [23]:
# Remove 2 and add 3 to the list and replace True with False.

In [24]:
Li = [1,3,5, [2,3], True]
Li[3][0] = 3  # Li[3] = [3,3]
Li[4] = False

Li

[1, 3, 5, [3, 3], False]

In [25]:
# Find the intersection (common) of two sets.

In [26]:
S1 = {1,4,6,8}
S2 = {True,1,2,10}

result = S1.intersection(S2) # result = S1 & S2
print(result)

{True}

In [27]:
# Input a list from the user then Remove duplicates from a list and create a set and find the max number.

In [28]:
seperator = ' '
input_string = input("\nPlease Enter the Numbers seperated by SPACE or COMMA: ")

input_string = input_string.strip('][')

if "," in input_string:
    seperator = ','
    
li=input_string.split(seperator)
print(li)
li= [eval(i) for i in li]
print(li)

#li = [1,9,3,4,5,200,5,4]
print("Original List: ", li)

#Solution:1 (using *set)
res = [*set(li)]
print("List after removing duplicate elements #1: ", res)

#Solution:2 (list comprehension)
#res = []
#[res.append(int(x)) for x in li if int(x) not in res]
#[res.append(x) for x in li if x not in res]
#print("List after removing duplicate elements #2: ", res)

#Solution:3 (using set)
#res = list(set(li))
#print("List after removing duplicate elements #3: ", li)

#res.sort()
#print("Largest element is (using sort):", res[-1])

print("Largest element is (using max()):", max(res))

Please Enter the Numbers seperated by SPACE or COMMA: 1,9,3,4,5,200,5,4
['1', '9', '3', '4', '5', '200', '5', '4']
[1, 9, 3, 4, 5, 200, 5, 4]
Original List:  [1, 9, 3, 4, 5, 200, 5, 4]
List after removing duplicate elements #1:  [1, 3, 4, 5, 200, 9]
Largest element is (using max()): 200

In [29]:
# Rename the key of a dictionary. Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [30]:
Dict = { "name": "Salman", "age": 99, "city": "Toronto", "country": "Canada" }
#Dict['region'] = Dict['country'] 
#del Dict['country']
Dict["region"] = Dict.pop("country")

print(Dict)

{'name': 'Salman', 'age': 99, 'city': 'Toronto', 'region': 'Canada'}

In [31]:
# Creating a data frame using the list. num = [10,100,300] (column name is number)

In [32]:
import pandas as pd

num = [10,100,300]
df = pd.DataFrame(num)
print(df)

     0
0   10
1  100
2  300

In [33]:
# Change the value of a key in a given dictionary. Write a Python program to change ‘age’ to 28 in the following dictionary.

In [34]:
Dict = { "name": "Salman", "age":99, "city": "Toronto", "country": "Canada" }
Dict["age"] = 28
print(Dict)

{'name': 'Salman', 'age': 28, 'city': 'Toronto', 'country': 'Canada'}